@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f7
}
/* body {
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/* } */

.rainbow-text {
  background: linear-gradient(90deg, #8a2387, #e94057, #f27121);
  background-size: 200% 200%;
  animation: rainbow-animation 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}